<div class="row index-header">
  <div class="col-md-5">
    <h1 class="title">Alarmas</h1>
  </div>
  <div class="col-md-3">    
    <a class="btn btn-primary btn-lg btn-block" href="<%= new_alarm_path %>">Nueva alarma</a>       
  </div>
  <div class="col-md-4">
    <%= form_tag(alarms_path, method: "get", :id => "search-form") do %>
      <div class="input-group input-group-lg">
        <input id="search" name="search" type="text" class="form-control input" placeholder="Escribe tu búsqueda..." value="<%= params[:search] %>">
        <span class="input-group-btn">
          <button id="search-button" class="btn btn-primary" type="submit">Buscar</button>
        </span>
      </div>
    <% end %> 
  </div>    
</div>



    