<%= javascript_include_tag "highcharts" %>

<div id="notifications-container">
  <%= render partial: "notifications/notifications_table", locals: { alarm: alarm, notifications: notifications, page: page } %>
</div>

<div id="notification-paginator">
  <%= paginate notifications, :params => { :controller => "notifications", :action => "index", :alarm_id => alarm.id }, :remote => true %>
</div>

<!-- Diálogo modal donde se mostrará el gráfico de la notificación -->
<div class="modal fade" id="samples-chart">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= @alarm.name %></h4>
      </div>
      <div class="modal-body">
        <p>Generando gráfico...</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>