<div class="row text-center">
  <div class="col-12">
    <h1><b>Recibe alarmas cuando tus datos cumplan una condición.</b></h1>
  </div>    
</div>

<div class="row jumbotron">
  <div class="col-lg-6 col-lg-offset-3">
    <a class="btn btn-lg btn-primary btn-block" href="users/sign_up">Prueba gratis TheAlarmFactory durante 15 días</a>
  </div>    
</div>

<div class="row jumbotron">
  <div class="col-lg-6">
    <h2>¿Por qué utilizar TheAlarmFactory?</h2>
    <p>Tus datos personales o de tu negocio no son útiles si nadie te avisa que están ocurriendo cosas.</p>
    <p>Olvídate de estar chequeando continuamente si ha pasado algo con la llegada de un nuevo dato.</p>
    <p>Simplemente define la condición que se debe cumplir y una lista de destinatarios y TheAlarmFactory, cada vez que reciba un nuevo dato, hará la comprobación por ti y avisará por correo a los destinatarios si se cumple la condición.</p> 
  </div> 
  <div class="col-lg-6">
    <%= image_tag("preview.png", alt: "Pantalla de inicio de TheAlarmFactory", class: "img-responsive")%>
  </div>   
</div>

<div class="row">
  <div class="col-lg-4 thumbnail home">
    <center>
      <h1><span class="glyphicon glyphicon-bell"></span>
      <h2>Alarmas</h2>
    </center>
    <p>Crea alarmas <b>ilimitadas</b>, cada una con una condición diferente.</p>
  </div>
  <div class="col-lg-4 thumbnail home">
    <center>
      <h1><span class="glyphicon glyphicon-phone"></span>
      <h2>Multidispositivo</h2>
    </center>
    <p>Accede desde cualquier <b>ordenador</b>, <b>tableta</b> o <b>móvil</b> a través del navegador.</p>    
  </div>
  <div class="col-lg-4 thumbnail home">
    <center>
      <h1><span class="glyphicon glyphicon-stats"></span>
      <h2>Gráficos</h2>
    </center>    
    <p>Visualiza <b>gráficos</b> de tus datos cuando se activa una alarma.</p>
  </div>    
</div>

<div class="row">
  <div class="col-lg-4 thumbnail home">
    <center>
      <h1><span class="glyphicon glyphicon-transfer"></span>
      <h2>Acceso por API</h2>
    </center>
    <p>Usa nuestra <b>API</b> para grabar tus datos desde tus aplicaciones.</p>
  </div>
  <div class="col-lg-4 thumbnail home">
    <center>
      <h1><span class="glyphicon glyphicon-indent-left"></span></h1>
      <h2>Condiciones</h2>  
    </center>    
    <p>Define <b>condiciones matemáticas complejas</b> a través de un potente y sencillo editor de fórmulas.</p>
  </div>
  <div class="col-lg-4 thumbnail home">
    <center>
      <h1><span class="glyphicon glyphicon-envelope"></span></h1>
      <h2>Destinatarios</h2>
    </center>
    <p>Establece para cada alarma una <b>lista de destinatarios</b> que serán avisados cuando se cumpla una condición.</p>    
  </div>
</div>

<div class="row jumbotron">
  <div class="col-lg-6 col-lg-offset-3">
    <a class="btn btn-lg btn-primary btn-block" href="users/sign_up">Prueba gratis TheAlarmFactory durante 15 días</a>
  </div>    
</div>